{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cerulean/bootstrap.min.css" integrity="sha512-1rXsIsq9uaj3bxRth2+Mw1slRDxuPzGlfJ8PaLmkO3/OtvCL7jVQrdxaC1VvCmCzKRMdKu0pmbCtqQz/3/xORA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Nuevo registros</title>
  <script src="https://kit.fontawesome.com/c7a3274d9e.js" crossorigin="anonymous"></script>
</head>
<body>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Crear nuevo registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/agenda">Ver registros anteriores</a>
    </li>
    
  </ul>


  <div class="container" style="margin-top: 30px;">

    <h2>mascotas examen</h2>
    
  <form method="POST">
    {% csrf_token %} {{form.as_p}}
    
    <button type="submit">Guardar</button>
  </form>
  
</div>
</body>
